@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;1,300&family=Noto+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    
}


/* ############################## Utility Classes ################ */

.container{
         max-width: 1200px;
         width: 90%;
        margin: auto;
        overflow-x: hidden;
        overflow-y: auto;
}

.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-primary{
    color: #fff;
    background: #16a083;
}

/* ############################## Navbar styling ################ */

/* for desktop mode */
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow:0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    color: #000;
    opacity: .85;
    z-index: 999;
    background:#fff;
}
.navbar .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    height: auto;
}

.menu-items{
    order: 2;
    display: flex;

}
.menu-items li{
    list-style: none;
    font-size: 1.8rem;
    margin-left: 1.5rem;
    text-transform: uppercase;

}
.logo{
    order: 1;
    font-size: 3rem;
}
.navbar a{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color .3s ease-in-out;
}
.navbar a:hover{
    color: #117964;
}

/* ####################### showcase Stylng ############## */
.showcase-area{
    height: 50vh;
    background:linear-gradient(rgba(240,240,240,0.144), rgba(255,255,255,0.336)) ,url(./img/header-image2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.6rem;
}
.main-title{
    text-transform: uppercase;
}

/* ################# About-section ########## */
.about{
    padding: 50px 0px;
    background:#f5f5f7 ;
}
.about-wrapper{
    display: flex;
    margin-top: 7rem;
    flex-wrap: wrap;

}
.about-wrapper .about-text{
    padding: 1em;
    margin-left: 5rem;
}


.about-text h2{
    font-size: 3.2rem;

}
.about-text p{
    font-size: 1.6rem;
    color: #555;
}
.about-text .small{
    font-weight: 600;
    font-size: 1.6rem;
    color: #666;
}
.about-img{
    flex:1 1 400px;
    padding: 30px;
    animation: about-img-animation 1s ease-in-out forwards; 
    transform: translateX(110%);
}
@keyframes about-img-animation{
    100%{

        transform:translateX(0);
    }
}
.about-img img{
    display: block;
    height: 400px;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
    object-position: right;


}
.about-text{
    flex:1 1 400px;
    padding: 30px;
    margin: auto;
    animation: about-text-animation 1s ease-in-out forwards; 
    transform: translateX(-110%);
}
@keyframes about-text-animation{
    100%{

        transform:translateX(0);
    }
}


/* ########## Types of foood ################## */
#category{
    padding: 5rem 0 10rem 0;
}
#category h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #555;
}
.food-container{
    display: flex;
    justify-content: space-between;
}

.food-container img{
    display: block;
    width: 100%;
    margin: auto;
    max-height: 300px;
    object-fit: cover;

}
.img-container{
    margin: 0 1rem;
    position: relative;
}
.img-content{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;

}
.img-content h3{
    color: #fff;
    font-size: 3rem;
    
    
}
.img-content  a{
    font-size: 1.2rem;
}
.img-container::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.871);
    opacity: 0;
    z-index: 1;
    transform: scaleY(0);
    transform-origin:100% 100%;
    transition: all 0.3s ease-in-out;
}
.img-container:hover::after{
    opacity: 1;
    transform: scaleY(1);
}
.img-container:hover .img-content{
    opacity: 1;
    top: 40%;
}





/* ##################### Foood Menu Styling ##################### */

#food-menu{
    padding: 5rem 0 10rem 0;
}
.food-menu-heading{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    color: #666;
}

.food-menu-container{
    padding: 50px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.food-menu-item{
    display: flex;
    justify-content: space-evenly;
    padding-bottom:3rem; 
    flex: 1 1 600px;    
}
.food-menu-container img{
    display: block;
    border-radius: 50% ;
    width:25rem;
    height: 25rem;
    object-fit:cover;
    object-position: center;
    margin-right: 1.3rem;

}

.food-decription{
    margin: auto 1.5rem;
}
.food-title{
    font-size: 2.2rem;
    font-weight: 400;
    color: #444;
}
.food-decription p{
    font-size: 1.4rem;
    color: #555;
    font-weight: 500;
}
.food-decription .food-price{
    color: #117964;
    font-weight: 700;

}

/* ############################ Testimonial Styling ##################### */


#testimonial{
    background:rgb(243, 243, 243) ;
    padding: 5rem 0;
}
#testimonial h2{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    color: #555;
}
.testimonial-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
}
.testimonial-container img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
}
.testionial-box{
    text-align: center;
    padding: 1rem;
    flex: 1 1 33%;
    
}
.star-rating{
    color: #ff9529;
    
}
.testimonial-text{
    margin: 1rem 0;
    color: #444;

}
.customer-name{
    margin-top: 2rem;
    font-size: 1.3rem;
}


/* ######################### Contact-form-Styling ############################# */

#contact{
    padding: 5rem 0;
    background: rgb(226, 226, 226);
}
.contact-container{
    display: flex;
    background: #fff;
    flex-wrap: wrap;

}
.contact-img{
    flex: 1 1 50%;
}
.contact-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    display: block;
}
.contact-form{
    padding:1rem  ;
    flex: 1 1 50%;
    margin: auto;
}
.contact-form input{
    display: block;
    padding: 1rem 0;
    width: 100%;
    margin-bottom:1rem ;
    border: none;
    border-bottom: 2px solid #ddd;
    box-shadow: none;
    outline: none;
    font-weight: 500;
    color: #444;
   
}
.contact-form textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 1rem 0;
    outline: none;

}

.contact-form h2{
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 400;
    color: #444;
}
.contact-form a{
   font-size: 1.2rem;
}
footer h2{
    color: #fff;
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    word-spacing: .1em;
    background: rgb(65, 65, 65);
}


.nav-toggle {
    display: none;
    font-size: 1.5rem;
    color:  hsl(205, 78%, 60%);
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  /* .nav-toggle:hover {
    color:  hsl(205, 86%, 17%);
    transform: rotate(90deg);
  } */
  .rotate{
      color:  hsl(205, 86%, 17%);
      transform: rotate(-90deg);
      transition: transform .2s ease-in-out;
  }
  .ant-rotate{
    color:  hsl(205, 86%, 17%);
    transform: rotate(90deg);
    transition: transform .2s ease-in-out;
  }
  .links{
    display: none;
  }

/* ########################################### Media Queries ########################### */

/* @media screen and (min-width: 700px) {
     root{
        font-size: 50%;
     }
    html{
       font-size:  60%;
     }
} */
@media (max-width:700px) and (min-width:401px) {
    html{
        font-size: 50%;
    }
    .nav-toggle{
        display: block;
    }
    .menu-items{
        background-color: #fff;
        top: 100%;
        position: absolute;
        flex-direction: column;
        left:-2%;
        height: 100vh;
        width: 250px;
        padding: .3em;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
        
    }
    .menu-items li{
        padding:.3em;
        font-size: 2rem;
        margin-left:4.5rem ;
        
    }
    .onclick{
        transition: transform .3s ease-in-out;
        transform: translate(0);
    }
    .links{
        position: relative;
        top: 54%;
        display: block;
        /* margin: auto; */
    }
    .links li{
        float: left;
        margin-left: 3rem;
        padding: .1em;
        margin-left:4rem ;
    }
    .img-content h3{
        font-size: 2rem;
    }
    .img-content a{
        font-size: .6rem;    }
}
@media (max-width:400px) and (min-width:100px){
    html{
       font-size: 40%;
    }
    .nav-toggle{
        display: block;
    }
    .menu-items{
        background-color: #fff;
        top: 100%;
        position: absolute;
        flex-direction: column;
        left:-2%;
        height: 100vh;
        width: 200px;
        padding: .3em;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
        
    }
    .menu-items li {
        padding:.3em;
        font-size: 2rem;
        margin-left:3.9rem ;
        
    }
    .onclick{
        transition: transform .3s ease-in-out;
        transform: translate(0);
    }
    .links{
        position: relative;
        top: 67%;
        display: block;
        /* margin: auto; */
    }
    .links li{
        float: left;
        margin-left: 3rem;
        padding: .1em;
    }
    .img-content h3{
        font-size: 2rem;
    }
    .img-content a{
        font-size: .6rem;    }
}